@charset "UTF-8";


.container,
header,
footer
{
	
}

#search-box {
	-webkit-box-align: center;
	align-items: center;
	background: white;
	border-radius: 4px;
	display: -wepkint-box;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin: 0.5em 0;
	padding: 0.5em 0.5em 0.5em 1em;
	transition: all 0.5s;
	width: 500px;
}

#search-box:hover, #search-box:focus {
	background: white;
}

#search button, #search input{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: 0;
	outline: 0;
}

#search-box button {
	cursor: pointer;
}

section {
	margin: 100px auto;
	min-height: 300px;
}

.text-title {
	font-size: 32px;
}