@charset "UTF-8";@charset "UTF-8";

.login-title {
	font-size: 32px;
	font-weight: 700;
	text-align: center;
}

.btn-login {
	background-color: #7B68EE;
	border: none;
	margin-top: 40px;
}

.login-card {
	border: 2px solid #e5e5e5;
	border-radius: 30px;
}


.btn-login:hover {
  background-color: #6a5acd;
}

.login-input {
  height: 48px;
  font-size: 14px;
  border-radius: 15px;
}

.login-remember {
	display: flex;
	align-items: center;
	margin-top: 12px;
}

.join-link-group {
	margin-top: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.login-admin-link {
	color: #7B68EE;
}

.login-admin-link:hover {
	color: #5A4FCF;
}

.login-join-link {
	color: #7B68EE;
	font-weight: bold;
}

.login-join-link:hover {
	color: #a3a8ff
}

.login-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}